<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" align="middle">
    <strong th:text="'UserName:'+${username}"></strong>
    <form method="post" action="/oauth2/revoke">
    <input type="hidden" name="user_oauth_revoke" value="true">

    <input type="hidden" name="clientid" value= "google">

    <button class="btn" type="submit"> Unlink with google</button>
</form>
</div>
</body>
</html>
